.container-home
{
    width: 100%;

    background-color: $colorYellow;

    @include mobile
    {
        width: 100%;
    }
}

.cards
{
    display: flex;
    align-items: flex-end;

    height: 400px;
    margin-bottom: 100px;
}

.section
{
    padding: 0rem 25rem;

    @include mobile
    {
        padding: 0rem 5rem;
    }
}

.section h1
{
    margin-bottom: 3rem;
}

.section h1 span
{
    display: inline;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% .4em;
    background-image: linear-gradient(to bottom, #e7bb19 0%, #e7bb19 100%);
}

.section .cards.centered
{
    justify-content: center;
}

.section-alt
{
    color: white;

    padding: 12rem 25rem 15rem 25rem;

    @include mobile
    {
        padding: 25rem 5rem;
    }
}

.section-alt.left-to-right
{
    background-image: linear-gradient(176deg, $colorYellow calc(20% - 2px), $colorBlue 20%, $colorBlue 75%, $colorYellow calc(75% + 2px));
}

.section-alt.right-to-left
{
    background-image: linear-gradient(184deg, $colorYellow calc(20% - 2px), $colorBlue 20%, $colorBlue 75%, $colorYellow calc(75% + 2px));
}

.section-alt h1 span
{
    background-image: linear-gradient(to bottom, $colorNavy 0%, $colorNavy 100%);
}

.section-talks
{
    padding-top: 15rem;
}

.contact
{
    display: grid;
    grid-gap: 1rem;
}

.contact input, .contact textarea
{
    font-family: "Poppins", sans-serif;

    line-height: 1.75rem;
    padding-left: 10px;
}

.contact .name
{
    height: 2rem;
}

.contact .email
{
    height: 2rem;
}

.contact .message
{
    grid-column: 1 / span 2;
}

.contact .submit
{
    color: white;
    background-color: $colorBlue;

    font-size: 1.5rem;

    display: block;
    margin: auto;
    padding: .5rem 3rem;

    grid-column: 1 / span 2;
}

.contact .submit:hover
{
    color: $colorYellow;
}